<nav class="navbar">
    <a routerLink="homepage" class="logo"><img src="../../../assets/nexale-logo-zip-file/svg/logo-no-background.svg" alt="logo"></a>
    <input type="checkbox" id="toggler">
    <label for="toggler"><i class="material-icons">menu</i></label>
    <div class="menu">
        <ul class="list">
            <li class="link"><a routerLink=''>Home</a></li>
            <li class="link"><a routerLink='stwn'>About</a></li>
            <li class="link"><a routerLink='stwn'>Contact</a></li>
            <li class="link"><a routerLink='login'>Login</a></li>
        </ul>
    </div>
</nav>
