<!-- <nav class="navbar">
    <a routerLink="homepage" class="logo"><img src="../../../assets/nexale-logo-zip-file/svg/logo-no-background.svg" alt="logo"></a>
    <input type="checkbox" id="toggler">
    <label for="toggler"><i class="material-icons">menu</i></label>
    <div class="menu">
        <ul class="list">
            <li class="link"><a routerLink="home">Home</a></li>
            <li class="link"><a routerLink="stwn">About</a></li>
            <li class="link"><a routerLink="stwn">Contact</a></li>
            <li class="link"><a routerLink="login">Login</a></li>
        </ul>
    </div>
</nav> -->

<app-home-navbar></app-home-navbar>

<div class="container-fluid parent ">
    <div class="logo1"><img class="homelogo" src="../../../assets/nexale-logo-zip-file/svg/logo-color.svg"></div>
    <div class="info1">
        <p class="typed">Taking sales to next level</p>
        <div class="hompage-button">
            <a routerLink="login"><button mat-raised-button color="accent">Login</button></a>
            <a routerLink="register"><button mat-raised-button color="primary">Register</button></a>
        </div>
    </div>
</div>

